.container {
    width: 640px;
    padding: 40px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(47, 49, 66, 0.1);
    border-radius: 20px;
}

.container h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.container p {
    padding-top: 5px;
    padding-bottom: 10px;
    color: #494D66;
    font-weight: 400;
    font-size: 16px;
}

.btnGroup {
    padding-inline: 50px;
}

.currencyWrapp {
    height: 369px;
    overflow-y: scroll;
    border: 0.5px solid #B8BACC;
    border-radius: 10px;
    margin-bottom: 30px;
    text-align: left;
}

.currencyWrapp::-webkit-scrollbar-track {
    background-color: transparent;
}

.currencyWrapp::-webkit-scrollbar-thumb {
    background-color: #000000;
}

.currencyItem {
    border-bottom: 0.5px solid #B8BACC;
    padding-top: 15px;
    padding-inline: 15px;
}

.currencyItem:last-child {
    border: none !important;
}

.currencyIcons {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-bottom: 15px;
}

.currencyIcons span {
    font-weight: 500;
    font-size: 20px;
    color: #494D66;
}