@import '../../../styles/variables/mixins.scss';

.linearBtn {
    padding: 18px 0;
    background: linear-gradient(90deg, #F506FE 0%, #06D6DF 100%);
    border-radius: 10px;
    border: none;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    line-height: 20px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    width: 265px;

    @include for-max-width-fullHd {
        font-size: 14px;
    }
}

.linearBtn:hover {
    opacity: 0.8;
}