@import '../../../../styles/variables/mixins.scss';

.container {
    width: 800px;
    margin-top: -72px;

    @include for-max-width-fullTabled {
        position: fixed;
        left: 0;
        top: 30%;
        width: 100%;
        height: 100%;
        z-index: 990;
    }

    @include for-max-width-mobile {
        position: relative !important;
        margin-top: auto !important;
        top: 0;
        z-index: 0;
        padding-block: 50px;
        height: 500px;
        padding-bottom: 0;
        margin-bottom: -50px;
    }
}

.headerWrapp {
    padding: 20px;
    display: flex;
    justify-content: space-between;

    h2 {
        font-weight: 500;
        font-size: 32px;
        line-height: 39px;
        color: #494D66;

        @include for-max-width-mobile {
            font-size: 26dpx;
        }
    }

    div {
        display: flex;
        align-items: center;
        gap: 36px;

        span {
            color: #2B2B2B;
            font-weight: 500;
        }
    }
}

.totalWrapp {
    padding: 20px;
    padding-block: 10px;
    background: #F0F0F0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.totalWrapp div:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 10px;

    span {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;

        color: #2B2B2B;
    }
}

.totalWrapp div:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 12px;

    span {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;

        color: #494D66;
    }
}

.cardGroup {
    padding: 20px;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardHeader {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cardBody {
    display: flex;
    align-items: center;
    gap: 12px;

    span {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;

        color: #494D66;

    }
}

.modalBody {
    background: #FFFFFF;
    border-radius: 10px 0px 0px 0px;
    margin-right: 0;
    margin-left: auto;    height: 100%;

    @include for-max-width-mobile {
        border-radius: 10px;
    }
}



.sidepabelInline {
    position: fixed;
    top: 10%;
    right: 0;
    background-color: #7e808b82;
    width: 500px;
    height: 100%;
    z-index: 990;
}

.isInline {
    filter: grayscale(1);

    @include for-max-width-fullTabled {
        filter: grayscale(0);
    }
}

.inlineBg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(50, 53, 70, 0.6);
    z-index: 99;

    @include for-max-width-mobile {
        position: initial !important;
        width: auto;
        height: auto;
    }
}