@import '../../styles/variables/mixins.scss';

.main {
    background-image: url('../../public/assets/images/static-images/main-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.somethingWrapp {
    padding-top: 130px;
    padding-bottom: 50px;
}

.somethingSmell {
    position: relative;
    width: 100%;
    height: 400px;
    padding-top: 50px;

    @include for-max-width-tabled {
        height: 200px;
    }
}

.someThingDesktop {
    display: block !important;

    @include for-max-width-tabled {
        display: none !important;
    }
}

.someThingMobile {
    display: none !important;

    @include for-max-width-tabled {
        display: block !important;
    }
}

.desertWrapp {
    display: flex;
    gap: 150px;
    align-items: center;
    padding-inline: 5%;

    @include for-max-width-desktop {
        gap: 30px;
    }

    @include for-max-width-tabled {
        flex-direction: column-reverse;
        text-align: center;
        gap: 0;
    }
}

.desertWrapp h2 {
    letter-spacing: -0.02em;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 56px;
    line-height: 68px;
    background: linear-gradient(89.96deg, #06D6DF 0.02%, #FA02FF 101.55%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    @include for-max-width-desktop {
        font-size: 40px;
    }

    @include for-max-width-tabled {
        flex-direction: column-reverse;
        font-size: 26px;
    }
}

.desertImg {
    position: relative;
    width: 460px;
    height: 560px;

    @include for-max-width-tabled {
        width: 100%;
        margin-top: -60px;
    }
}

.dashed {
    position: relative;
    width: 100%;
    height: 4px;
    margin-bottom: 20px;
}

.cryptoWrapp {
    padding-inline: 22%;
    padding-bottom: 80px;
    gap: 100px;
    flex-wrap: wrap;

    @include for-max-width-desktop {
        gap: 80px;
        padding-inline: 15%;
        justify-content: center !important;
    }

    @include for-max-width-tabled {
        padding-inline: 10%;
    }
}

.cryptoNaming {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 150px;

    @include for-max-width-tabled {

        padding-top: 20px;
        padding-bottom: 50px;
    }
}

.cryptoNaming h2 {
    letter-spacing: -0.02em;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 64px;
    line-height: 78px;
    background: linear-gradient(90deg, #06D6DF 40.14%, #FA02FF 56.59%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    @include for-max-width-desktop {
        font-size: 50px;
    }

    @include for-max-width-tabled {
        flex-direction: column-reverse;
        font-size: 32px;
    }
}

.cryptoNaming p {
    text-transform: capitalize;

    color: #9B9B9B;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    @include for-max-width-tabled {
        flex-direction: column-reverse;
        font-size: 16px;
        padding-inline: 10%;
    }

}

.cryptoCard {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.cryptoImg {
    position: relative;
    width: 110px;
    height: 110px;

    @include for-max-width-tabled {
        width: 70px;
        height: 70px;
    }
}

.cryptoCard h2 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #808080;
    padding-top: 20px;

    @include for-max-width-tabled {
        font-size: 16px;
    }
}


.socialWrapp {
    padding-inline: 12%;
    padding-bottom: 150px;

    @include for-max-width-desktop {
        padding-inline: 8%;
    }

    @include for-max-width-tabled {
        display: flex;
        justify-content: center;
        padding-bottom: 80px;
    }
}

.socialCardWrapp {
    @include for-max-width-tabled {
        flex-direction: column;
        gap: 32px;
    }
}

.socialCard {
    display: flex !important;
    align-items: center;
    gap: 10px;
}

.socialCard h2 {
    background: linear-gradient(90deg, #4F7FE0 0%, #FA02FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;

    @include for-max-width-tabled {
        font-size: 22px;
    }
}



.socialImg {
    position: relative;
    width: 80px;
    height: 80px;

    @include for-max-width-desktop {
        width: 60px;
        height: 60px;
    }

    @include for-max-width-tabled {
        width: 50px;
        height: 50px;
    }
}