.modalCard {
    border-radius: 20px;
}

.itemsWrapp {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 30px;
    padding-left: 20px;

    a {
        img {
            width: 50%;
        }
    }
}

.modalHeader {
    background: #fff;
}