@import '../../styles/variables/mixins.scss';;

.modal {
    @include for-max-width-tabled {
        justify-content: flex-end;
    }
}

.modalCard {
    border-radius: 20px;
    @include for-max-width-tabled {
        height: 55%;
    }
}

.itemsWrapp {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 30px;
    padding-left: 20px;

    a {
        img {
            width: 50%;
        }
    }
}

.modalHeader {
    background: #fff;
}