@import '../../styles/variables/mixins.scss';

.customNavbar {
    background: #2B2D3C;
    padding-block: 10px;
    padding-inline: 50px;
    border-bottom: 1px solid #494D66;
    @include for-max-width-desktop {
        padding-inline: 10px;
        padding-left: 20px;
    }
}

.navbarItem {
    @include for-max-width-desktop {
        text-align: center;
    }
}

.navbarItem a {
    color: #D9D9D9;
    font-size: 15px;
}

.navbarStart {
    @include for-max-width-desktop {
        padding-left: 0 !important;
        margin-left: 0 !important;
    }
}

.active a {
    position: relative;
    color: #F1F1F3;
    font-weight: 600;
    
}

.active a::after {
  content: '';
  position: absolute;
  bottom: -140%;
  left: 0;
  height: 3px;
  width: 100%;
  border-radius: 10px;
  background: linear-gradient(90deg, #F506FE 0%, #06D6DF 100%);

  @include for-max-width-desktop {
    display: none;
  }
}

.navbarItem a:hover {
    position: relative;
    color: #F1F1F3;
    font-weight: 600;
}


.icon {
    width: 24px;
    height: 24px;
    display: none;
    @include for-max-width-desktop {
        display: block;
    }
}


.navbarMenu {
    height: 100vh;
    width: 80%;
    float: right;
    position: fixed;
    bottom: -80px;
    right: 0;
    background: #2B2D3C;
    margin-top: 5px;
    display: none;
    z-index: 999;
}